*{
    padding: 0; margin: 0;
    font-family: sans-serif;
}
    
body {   
    background: url('bg.jpg') no-repeat;    
    background-size: cover;
    }
    
.login-form {
    width: 350px; top: 50%;
    Left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    color: #fff I 
}

.login-form h1{
    font-size:40px;
    text-align:center;
    text-transform:uppercase;
    margin:40px 0;
}

.login-form p{
    font-size:20px;
    margin:15px 0;
}

.login-form input{
    font-size:16px;
    width:100%;
    padding:15px 10px;
    border:0;
    outline:none;
    border-radius:2px;
}

.login-form button{
    font-size:18px;
    font-weight:bold;
    margin:20px 0;
    padding:10px 15px;
    width:50%;
    border-radius:5px;
    border:0;
    background-color: red;
}



    
